/*
* @Author: CatDoctorGit
* @Date:   2017-11-22 10:43:52
* @Last Modified by:   CatDoctorGit
* @Last Modified time: 2017-11-23 08:26:30
*/
body{
	background-image: url(TIM截图20171122131514.png);
	richness:75;
}
td{
	font-weight: bolder;
	color: white;
	font-family: 隶书;
	font-size: 16pt;
	text-align: center;
	border-color: #999999;
	border-width: 3pt;
	width: 110px;
	height: 35px;
	border-style: groove;
}
#border{
	border-color: #999999;
	border-style: ridge;
	border-width: 5pt;
	/* border-collapse: collapse; */
}
input{
   width: 97%;
   height: 99%;
   text-align: center;
   background-color: infobackground;
   opacity: 100;
   font-size: 16pt;
}
select{
	height: 99%;
	width: 99%;
}
#tr{
	height: 70px;
}
.anniu{
	width: 200px;
	background-color:#666666; 
	color: linen;
}
table{
	background-color:black;
}
textarea{
	width: 99%;
	font-size: 16pt;
	background-color: infobackground;
	text-align: center;
}
option{
	color: red;
}
.zp{
   height: 35px;
}
input:hover{
       	font-weight: bolder;
       	font-size: 26pt;
       	color: red;
       	font-weight: 30px;
       }
td:hover{
	font-weight: bolder;
       	font-size: 26pt;
       	color: red;
       	volume:100;
       	-xv-voice-balance:left;
       	speak:normal;
       	voice-family:child;
       	cue-after:url(文武贝 - 夜的钢琴曲5.mp3);

}